* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background: #020824;
}

h1,
h2,
h3 {
    margin: 0;
    color: #fff;
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
    position: relative;
    display: inline-block;
}

h2:not(.explore h2, .trial h2, footer h2)::before,
.explore h3::before {
    content: '';
    background: linear-gradient( 90deg, rgba(72, 252, 139, 0) 0%, #48fc8b 50%, rgba(72, 252, 139, 0) 100%);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -0.5em;
    width: 100%;
    height: 0.1em;
}

p,
span {
    margin: 0;
    color: #fff;
    font-size: 0.8;
    line-height: 30px;
    letter-spacing: 1px;
}

h3 {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9em;
}

.btne {
    padding: 0.7em 2em;
    border-radius: 0.3em;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn-primary {
    background: linear-gradient( 90deg, #48fc8b, #1de7ea);
    color: #111;
    border: none;
}

.btn-primary:hover {
    background: #1de7ea;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

footer li {
    margin: 1em 0;
    list-style-type: none;
}

footer li a {
    color: #ccc;
}

footer li a:hover {
    text-decoration: underline;
}

footer input {
    background: #1b2039;
    border: none;
    padding: 0.7em;
    border-radius: 5px;
}

footer hr {
    border: 1px #1b2039 solid;
    margin: 1.5em 0;
}

footer p {
    margin: 1em 0;
}